html, body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}
h5 {
   color: white;
    font-weight: bold;
}


.main {
    text-align: center;
    border: 1px solid black;
    margin:  10% 20% 10% 20%;
}
 h1 {
     font-weight: bold;
     margin-top: 40px;
 }

.content {
    text-align: left;
    margin-left: 5px;
}
p{
    font-weight: bold;
    font-size: 20px;
}

.footer {
    
    margin: 5px 0 10px;
}

a {
    color: black;
}